<div id="modal-clientes" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clientes Associados</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="form-control m-b" name="account">

                                        <option>Cliente 2</option>

                                        <option>Cliente 5</option>
                                        <option>Cliente 6</option>

                                        <option>Cliente 8</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-white"> <i class="fa fa-arrow-down"></i> Adicionar</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table table-sm table-striped">
                                    <tbody>
                                        <tr><td>1</td><td>Cliente 1</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>


                                        <tr><td>2</td><td>Cliente 3</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>


                                        <tr><td>3</td><td>Cliente 7</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>