@using Cinrad.Infrastructure.CrossCutting.Identity
@inject SignInManager<ApplicationUser> SigninManager
@inject UserManager<ApplicationUser> UserManager
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="" class="form-control" name="top-search" id="top-search" value="CICLOTRON - INRAD" readonly>
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            @if (SigninManager.IsSignedIn(User))
            {
            
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" style=" color: white" data-toggle="dropdown" href="#" t="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#" t="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" t="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" t="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="#" t="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="#">@UserManager.GetUserName(User)</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> <span class="nav-label">Sair</span></a>
                </li>
            }
            else
            {

                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> <span class="nav-label">Entrar</span></a>
                </li>
            }
        </ul>

    </nav>
</div>