@model Cinrad.Service.ViewModels.ClienteViewModel;
@{
    ViewData["Title"] = "RegistrarCliente";
}

<link href="~/css/cliente_page.css" rel="stylesheet" />

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Cliente</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="active">
                <strong>Registrar Cliente</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-18">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="row">

                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" placeholder="Buscar Cliente " class="input form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-white"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-2 ">
                            <div class="input-group">
                                <select name="status" id="status" class="input form-control btn-white">
                                    <option value="1" selected>Ativo</option>
                                    <option value="0">Inativo</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="clients-list ">

                        <span class="input-group-btn">
                            <a data-toggle="modal" class="btn btn-primary" href="#modal-form">Novo</a>
                        </span>

                        <div id="modal-form" class="modal fade" aria-hidden="true" data-backdrop="false" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h3 class="m-t-none m-b">Novo Cliente</h3>

                                    </div>

                                    <div class="modal-body">
                                        <div class="row">
                                            <div>

                                                <form role="form">
                                                    <div class="form-group"><label>Codigo</label> <input required type="text" placeholder="* Código" class="form-control"></div>
                                                    <div class="form-group"><label>CNPJ</label> <input type="text" placeholder="* Nome" class="form-control"></div>
                                                    <div class="form-group"><label>Razão Social</label> <input type="text" placeholder="* Descrição" class="form-control"></div>
                                                    <div class="form-group"><label>Nome Fantasia</label> <input type="text" placeholder="* Descrição" class="form-control"></div>
                                                    <div class="form-group"><label>Telefone</label> <input type="text" placeholder="* Descrição" class="form-control"></div>
                                                    <div class="form-group"><label>Site</label> <input type="text" placeholder="* Descrição" class="form-control"></div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                                                        <button type="button" class="btn btn-primary">Salvar</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th>Código</th>
                                        <th>CNPJ</th>
                                        <th>Razão Social</th>
                                        <th> Nome Fantasia</th>
                                        <th> Telefone</th>
                                        <th> Site</th>

                                        <th colspan="4">Açoes</th>

                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>

                                        <td>29034824</a></td>
                                        <td> 19.586.166-0001/60</td>
                                        <td> JHealth Informatics Eireli Me </td>
                                        <td> JHealth</td>

                                        <td> 11 96753-0647 </td>
                                        <td><a data-toggle="tab" href="#contact-1" class="client-link"> www.jhealth.com.br</a> </td>
                                        <td><a data-toggle="modal" href="#confirmRemoverModal" title="Remover"><h2> <i class="fa fa-trash"></i></h2></a></td>
                                        <td><a data-toggle="modal" href="#modal-form" title="Editar"><h2><i class="fa fa-edit "></i></h2></a></td>
                                        <td><a data-toggle="modal" href="#modal-clientes" title="Transporadoras"><h2><i class="fa fa-users "></i></h2></a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal HTML -->
    <div id="confirmRemoverModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tem certeza?</h4>
                </div>
                <div class="modal-body">
                    <p>Você realmente quer remover o registro?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default pull-left m-t-n-xs" data-dismiss="modal"><strong>  Não  </strong></button>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>  SIM  </strong></button>
                </div>
            </div>

        </div>
    </div>

    !-- Modal HTML -->
    <div id="modal-clientes" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Transportadoras autorizadas</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div>

                            <form role="form">

                                <div class="form-group">
                                    <div class="input-group">
                                        <select class="form-control m-b" name="account">

                                            <option>Transp 2</option>

                                            <option>Transp 5</option>
                                            <option>Transp 6</option>

                                            <option>Transp 8</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn btn-white"> <i class="fa fa-arrow-down"></i> Adicionar</button>
                                        </span>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <table class="table table-sm table-striped">


                                        <tbody>
                                            <tr><td>1</td><td>Transp 1</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>


                                            <tr><td>2</td><td>Transp 3</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>


                                            <tr><td>3</td><td>Transp 7</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>
                                        </tbody>

                                    </table>
                                </div>





                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<script src="js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

<script src="~/js/cliente_page.js" asp-append-version="true">
    $(document).ready(function () {
        teste();
        fnClickAddRow();
    });

</script>