@model TransportadoraViewModel;
@{
    ViewData["Title"] = "RegistrarTransportadora";   
}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Transportadora</h2>
            <ol class="breadcrumb">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">
                    <strong>Registrar Transportadora</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
