@model Cinrad.Service.ViewModels.UsuarioViewModel


    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="m-t-none m-b">Novo Usuário</h3>

            </div>

            <div class="modal-body">
                <div class="row">
                    <div>

                        <form role="form">
                            <div class="form-group"><label>CPF</label> <input required type="text" placeholder="* CPF" class="form-control"></div>
                            <div class="form-group"><label>Nome</label> <input type="text" placeholder="* Nome" class="form-control"></div>
                            <div class="form-group"><label>Email</label> <input type="email" placeholder="* Email" class="form-control"></div>
                            <div class="form-group"><label>Celular</label> <input type="tel" placeholder="Celular" class="form-control"></div>
                            <div class="form-group"><label>Telefone Coorporativo</label> <input type="tel" placeholder="* Telefone Coorporativo" class="form-control"></div>


                            <div class="form-group">
                                <label class="font-noraml">Perfil</label>
                                <div class="input-group">
                                    <select data-placeholder="Choose a Country..." class="chosen-select" style="width:350px;" tabindex="4">
                                        <option value="">Select</option>
                                        <option value="United States">Cliente</option>
                                        <option value="United Kingdom">Transportador</option>
                                        <option value="Afghanistan">Supervisor</option>
                                        <option value="Afghanistan">Diretor</option>
                                        <option value="Afghanistan">Administrador</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-noraml">Cliente</label>
                                <div class="input-group">
                                    <select data-placeholder="Choose a Country..." class="chosen-select" style="width:350px;" tabindex="4">
                                        <option value="">Select</option>
                                        <option value="United States">Cliente 1</option>
                                        <option value="United Kingdom">Cliente 2</option>
                                        <option value="Afghanistan">Cliente 3</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-noraml">Transportador</label>
                                <div class="input-group">
                                    <select data-placeholder="Choose a Country..." class="chosen-select" style="width:350px;" tabindex="4">
                                        <option value="">Select</option>
                                        <option value="United States">Transp 1</option>
                                        <option value="United Kingdom">Transp 2</option>
                                        <option value="Afghanistan">Transp 3</option>
                                    </select>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

