
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acesso Negado!</h2>
<p><b>Para resolver o problema com acesso a esta página, entre em contato com o diretor da sua empresa<br /> ou com um funcionário do Inrad</b></p>
<a asp-action="Index" asp-controller="Home"><span>Voltar</span></a>

