@model Cinrad.Service.ViewModels.ClienteViewModel

<div class="modal-header">
    <h3 class="m-t-none m-b">Novo Cliente</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div>
            <form role="form" asp-action="Registrar" asp-controller="Cliente" method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div hidden>
                    <input asp-for="Id" value="@Guid.Empty" />
                </div>              
                <div class="form-group">
                    <label asp-for="Cnpj"></label>
                    <input asp-for="Cnpj" placeholder="* CNPJ" type="text" class="form-control" />
                    <span asp-validation-for="Cnpj" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RazaoSocial"></label>
                    <input asp-for="RazaoSocial" placeholder="* Razão Social" type="text" class="form-control" />
                    <span asp-validation-for="RazaoSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NomeFantasia"></label>
                    <input asp-for="NomeFantasia" placeholder="Nome Fantasia" type="text" class="form-control" />
                    <span asp-validation-for="NomeFantasia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone"></label>
                    <input asp-for="Telefone" placeholder="* Telefone Coorporativo" type="text" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="Site"></label>
                    <input asp-for="Site" placeholder="Site" type="text" class="form-control" />
                    <span asp-validation-for="Site" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
