<div class="modal-header">
    <h4 class="modal-title">Transportadoras autorizadas</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div>
            <form role="form" asp-action="Editar" asp-controller="Cliente" method="post">                
                <div class="form-group">
                    <div class="input-group">
                        <select class="form-control m-b" name="account">

                            <option>Transp 2</option>

                            <option>Transp 5</option>
                            <option>Transp 6</option>

                            <option>Transp 8</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-white"> <i class="fa fa-arrow-down"></i> Adicionar</button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <table class="table table-sm table-striped">
                        <tbody>
                            <tr><td>1</td><td>Transp 1</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>


                            <tr><td>2</td><td>Transp 3</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>


                            <tr><td>3</td><td>Transp 7</td><td><a data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
