@model Cinrad.Service.ViewModels.ClienteTransportadoraViewModel
<div class="modal-header">
    <h4 class="modal-title">Transportadoras autorizadas</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div>
            <form role="form" asp-action="AssociarTransportadora" asp-controller="Cliente" method="post">
                <div hidden>
                    <input asp-for="ClienteId" value="@ViewBag.Id" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <select asp-for="TransportadoraId" asp-items="@ViewBag.Transportadoras" class="form-control m-b">
                            <option value="">--Nenhum--</option>
                        </select>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn btn-white"> <i class="fa fa-arrow-down"></i> Adicionar</button>
                        </span>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <table class="table table-sm table-striped">
                    <tbody>
                        @if (ViewBag.ClienteTransportadora != null)
                        {

                            @foreach (var transportadora in ViewBag.ClienteTransportadora)
                            {
                                <tr>
                                    <td>@transportadora.Text</td>
                                    <td><a asp-action="RemoverTransportadora" asp-controller="Cliente" asp-route-Id="@transportadora.Value" data-toggle="modal" title="Remover"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                @*<button type="submit" class="btn btn-primary">Salvar</button>*@
            </div>

        </div>
    </div>
</div>
